@{
    ViewData["Title"] = "Movie Collection";
}
@model FilmCollection.Models.ApplicationResponse

<h1>@ViewData["Title"]</h1>
<br />
<br />
<h2>Add new movie: </h2>
<br />
<div>

    <form method="post">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId">

            <option value="">Select a category</option>
            @foreach (Category c in ViewBag.Category)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }

        </select>
        <br />


        <label asp-for="Title"> Title: </label>
        <input asp-for="Title" />
        <br />

        <label asp-for="Year">Year: </label>
        <input asp-for="Year" />
        <br />

        <label asp-for="Director">Director: </label>
        <input asp-for="Director" />
        <br />

        <label asp-for="Rating">Rating: </label>
        <select asp-for="Rating">
            <option>G</option>
            <option>PG</option>
            <option>PG-13</option>
            <option>R</option>
        </select>
        <br />

        <label asp-for="Edited"></label>
        <select asp-for="Edited">
            <option value="true"> Yes </option>
            <option value="false"> No </option>
        </select>
        <br />

        <label asp-for="LenTo"> Lent To: </label>
        <input asp-for="LenTo" />
        <br />

        <label asp-for="Notes">Notes: </label>
        <input asp-for="Notes" />
        <br />
        <button type="submit">Enter New Movie</button>
        <div asp-validation-summary="All"></div>

    </form>
</div>
