@{
    ViewData["Title"] = "My Podcast";
}
<h1>@ViewData["Title"]</h1>

<p>Click the image below to go to my podcast site: </p>
<a href="https://baconsale.com" target="_blank"> <img src="~/img/apples.jpg" height="100"/>